<nb-card status="primary" class="estado-card">
  <nb-card-header
    >Actualizar estado de Pedido N {{ orden.get('numero') }}</nb-card-header
  >
  <nb-card-body class="m-2">
    <nb-stepper
      orientation="horizontal"
      [linear]="true"
      [disableStepNavigation]="true"
      [selectedIndex]="selectedIndex"
      *ngIf="!completo && !cancelado"
    >
      <nb-step [label]="labelOne" [completed]="estado !== 'Pendiente'">
        <!-- <ng-template #labelOne>En Curso</ng-template> -->
        <ng-template #labelOne>
          <ngx-orden-status status="En Curso"></ngx-orden-status>
        </ng-template>
        <h5 class="mx-auto">
          Estado actual:
          <ngx-orden-status status="Pendiente"></ngx-orden-status>
        </h5>
        <p class="lorem">Este pedido esta en espera. Comproba que contas con stock antes de continuar</p>

        <div *ngFor="let msg of erroresDeStock" class="border border-danger p-2 mt-3 mb-3">
          <nb-icon icon="alert-circle-outline" pack="eva" status="danger"></nb-icon>
          <span class="text-danger ml-2">
            Reparacion <b>{{ msg.reparacion }}</b>: No hay suficiente stock para
            <b>{{ msg.repuesto }}</b
            >. Requerido: <b>{{ msg.cantidad }}</b
            >, Actual: <b>{{ msg.stock }}</b>
          </span>
        </div>

        <div class="row">
          <button
            [disabled]="loading"
            nbButton
            matRipple
            status="danger"
            class="mx-auto"
            (click)="cancelar()"
          >
            Cancelar
          </button>
          <button
            [disabled]="loading || erroresDeStock.length > 0"
            nbButton
            matRipple
            nbStepperNext
            status="primary"
            class="mx-auto"
            (click)="cambiarEstado('En Curso')"
          >
            Comenzar
          </button>
        </div>
      </nb-step>
      <nb-step
        [label]="labelTwo"
        [completed]="estado !== 'Pendiente' && estado !== 'En Curso'"
      >
        <!-- <ng-template #labelTwo>Terminado</ng-template> -->
        <ng-template #labelTwo>
          <ngx-orden-status status="Terminado"></ngx-orden-status>
        </ng-template>
        <h5 class="mx-auto">
          Estado actual: <ngx-orden-status status="En Curso"></ngx-orden-status>
        </h5>
        <p class="lorem">
          La orden esta en curso. Una vez finalizada presione Terminar
        </p>
        <div class="row">
          <button
            [disabled]="loading"
            class="mx-auto"
            nbButton
            matRipple
            nbStepperNext
            status="primary"
            (click)="cambiarEstado('Terminado')"
          >
            Terminar
          </button>
        </div>
      </nb-step>
      <nb-step
        [label]="labelThree"
        [completed]="
          estado !== 'Pendiente' &&
          estado !== 'En Curso' &&
          estado !== 'Terminado'
        "
      >
        <!-- <ng-template #labelThree>Entregada</ng-template> -->
        <ng-template #labelThree>
          <ngx-orden-status status="Entregado"></ngx-orden-status>
        </ng-template>
        <h5 class="mx-auto">
          Estado actual:
          <ngx-orden-status status="Terminado"></ngx-orden-status>
        </h5>
        <p class="lorem">
          La orden esta terminada y lista para ser retirada por el cliente
        </p>
        <div class="row">
          <button
            [disabled]="loading"
            class="mx-auto"
            nbButton
            matRipple
            status="primary"
            (click)="cambiarEstado('Entregado')"
          >
            Ya se retiro!
          </button>
        </div>
      </nb-step>
      <!-- <nb-step [label]="labelFour" [completed]="estado == 'Entregado'">
        <ng-template #labelFour>Entregada</ng-template>
        <h5>Esta orden esta completa</h5>
        <p class="lorem">Aun no te han calificado</p>
      </nb-step> -->
    </nb-stepper>

    <nb-stepper
      orientation="horizontal"
      [disableStepNavigation]="true"
      selectedIndex="3"
      *ngIf="completo"
    >
      <nb-step [label]="labelOne" [completed]="true">
        <ng-template #labelOne
          ><ngx-orden-status status="En Curso"></ngx-orden-status
        ></ng-template>
      </nb-step>
      <nb-step [label]="labelTwo" [completed]="true">
        <ng-template #labelTwo
          ><ngx-orden-status status="Terminado"></ngx-orden-status
        ></ng-template>
      </nb-step>
      <nb-step [label]="labelThree" [completed]="true">
        <ng-template #labelThree
          ><ngx-orden-status status="Entregado"></ngx-orden-status
        ></ng-template>
      </nb-step>
      <!-- <nb-step [label]="labelThree" [hidden]="true">
        <ng-template #labelThree></ng-template>
      </nb-step> -->
    </nb-stepper>

    <ng-container *ngIf="completo">
      <div class="row">
        <h5 class="mx-auto">Pedido Finalizado</h5>
      </div>
      <div class="row" *ngIf="!calificacion?.id; else calificacionTemplate">
        <p class="lorem">Aun no te han calificado por este trabajo...</p>
      </div>
      <ng-template #calificacionTemplate>
        <div class="row m-3">
          <div class="col-12 col-md-12 col-lg-12 mt-2">
            <nb-icon icon="brush-outline" pack="eva"></nb-icon>
            <span>{{ orden.get('rodado') }}</span>
            <nb-icon class="ml-4" icon="person-outline" pack="eva"></nb-icon>
            <span>{{ orden.get('cliente').get('nombre') }}</span>
          </div>
          <div class="col-12 col-md-12 col-lg-12 mt-4">
            <mat-star-rating
              [readonly]="true"
              [rating]="calificacion.get('puntuacion')"
            ></mat-star-rating>
          </div>
          <div class="font-weight-bold col-12 col-md-12 col-lg-12 mt-2">
            "{{ calificacion.get('comentario') }}"
          </div>
          <div class="hint-text col-12 col-md-12 col-lg-12 mt-4">
            <nb-icon icon="calendar-outline" pack="eva"></nb-icon
            >{{ calificacion.get('createdAt') | date: 'dd/MM/yyyy' }}
          </div>
        </div>
      </ng-template>
    </ng-container>

    <ng-container *ngIf="cancelado">
      <div class="row">
        <h5 class="mx-auto">Pedido Cancelado</h5>
      </div>
      <div class="row">
        <p class="lorem">
          Puede eliminar este pedido de la lista de pedidos. Esta seguro?
        </p>
      </div>
      <div class="row">
        <button
          nbButton
          matRipple
          status="danger"
          class="mx-auto"
          (click)="eliminar()"
        >
          Eliminar
        </button>
      </div>
    </ng-container>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton matRipple ghost status="primary" (click)="dismiss()">
      Volver
    </button>
  </nb-card-footer>
</nb-card>
