<nb-card class="main">
  <nb-card-header>Detalle del Pedido</nb-card-header>
  <nb-card-body class="m-2" *ngIf="orden">
    <div class="row">
      <!-- ORDEN N -->
      <div class="col-6 col-md-6 col-xs-6 mt-2">
        <h5>ORDEN DE REPARACION Nº: {{ orden.numeroStr }}</h5>
      </div>

      <!-- FECHA PEDIDO -->
      <div class="col-6 col-md-6 col-xs-6 mt-2">
        <div class="row">
          <div class="text-hint"><h5 class="text-hint">Fecha de ingreso:</h5></div>
          <div class="ml-3">
            <h5 class="text-hint">{{ orden.get('fecha') | date: 'dd/MM/yyyy' }}</h5>
          </div>
        </div>
      </div>
    </div>

    <!-- CLIENTE -->
    <div class="row mt-4">
      <div class="col-xs-6 col-6 col-md-2 col-lg-2 text-hint">Cliente:</div>
      <div class="col-xs-6 col-6 col-md-9 col-lg-9">
        {{ orden.get('cliente').get('nombre') }}
      </div>
    </div>

    <!-- TELEFONO -->
    <div class="row mt-2">
      <div class="col-xs-6 col-6 col-md-2 col-lg-2 text-hint">Telefono:</div>
      <div class="col-xs-6 col-6 col-md-9 col-lg-9">
        {{ orden.get('telefono') }}
      </div>
    </div>

    <!-- RODADO -->
    <div class="row mt-2">
      <div class="col-xs-6 col-6 col-md-2 col-lg-2 text-hint">Rodado:</div>
      <div class="col-xs-6 col-6 col-md-9 col-lg-9">
        {{ orden.get('rodado') }}
      </div>
    </div>

    <div class="row mt-2">
      <!-- OBSERVACIONES -->
      <div class="col-xs-6 col-6 col-md-2 col-lg-2 text-hint">Observaciones:</div>
      <div class="col-xs-6 col-6 col-md-9 col-lg-9">
        {{ orden.get('observaciones') }}
      </div>
    </div>

    <div class="row mt-4" *ngIf="orden.get('fechaRetirado') as fechaRetirado">
      <div class="col-xs-6 col-6 col-md-9 col-lg-9">
        <span class="border p-2">ENTREGADO el {{ fechaRetirado | date: 'dd/MM/yyyy' }}</span>
      </div>
    </div>

    <!-- Reparaciones a realizar -->
    <div class="row m-5 w-100">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" style="width: 60%">Reparacion</th>
            <th scope="col">Costo Mano de Obra</th>
            <th scope="col">Costo Repuestos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of reparaciones">
            <td>{{ item.nombre }}</td>
            <td>{{ item.costoMano | currency }}</td>
            <td>{{ item.costoRepuestos | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- COSTO TOTAL REPUESTOS -->
    <div class="row mt-2">
      <div class="col-6 col-md-9">
        <span class="float-right">Costo total de repuestos:</span>
      </div>

      <div class="col-6 col-md-3">
        <span>{{ costoTotalRepuestos | currency }}</span>
      </div>
    </div>

    <!-- COSTO TOTAL MANO -->
    <div class="row mt-1">
      <div class="col-6 col-md-9">
        <span class="float-right">Costo total de mano de obra:</span>
      </div>

      <div class="col-6 col-md-3">
        <span>{{ costoTotalMano | currency }}</span>
      </div>
    </div>

    <!-- COSTO ADICIONAL -->
    <div class="row mt-1" *ngIf="orden.get('costoAdicional') > 0">
      <div class="col-6 col-md-9">
        <span class="float-right">Costo adicional:</span>
      </div>

      <div class="col-6 col-md-3">
        <span>{{ orden.get('costoAdicional') | currency }}</span>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-6 col-md-9">
        <span class="float-right text-success">Entrega inicial:</span>
      </div>
      <div class="col-6 col-md-3">
        <span class="text-success">
          {{ orden.get('entregaInicial') | currency }}
        </span>
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-6 col-md-9">
        <span class="float-right text-info">Total a pagar:</span>
      </div>
      <div class="col-6 col-md-3">
        <span class="text-info">
          {{ (calcularCostoTotalOrden() - orden.get('entregaInicial') ) | currency }}
        </span>
      </div>
    </div>

    <mat-divider class="mt-2"></mat-divider>

    <!-- COSTO TOTAL -->
    <div class="row mt-3">
      <div class="col-6 col-md-9">
        <h5 class="float-right">TOTAL:</h5>
      </div>
      <div class="col-6 col-md-3">
        <h5>
          {{ calcularCostoTotalOrden() | currency }}
        </h5>
      </div>
    </div>



    <div class="row mt-4">
      <div class="col-12 col-md-6 col-xs-12">
        <h6>Fecha de Entrega: {{ orden.get('fechaEntrega') | date: 'dd/MM/yyyy' }}</h6>
        </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="row">
      <div class="col">
        <button nbButton matRipple ghost status="primary" (click)="goBack()">
          Volver
        </button>
      </div>
      <div class="col">
        <button nbButton matRipple hero status="primary" (click)="print()" class="float-right">
          <nb-icon icon="printer-outline" pack="eva"></nb-icon
            ><span class="ml-1">Imprimir</span>
        </button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
