<nb-card size="medium">
  <div
    class="picture"
    style.background-image="url('{{ orden.imagen }}')"
  ></div>

  <div class="row m-2">
    <div class="col-xs-12 col-lg-12 col-md-6">
      <div class="h6">Pedido #{{ orden.numero }}</div>
    </div>
    <div class="col-xs-12 col-lg-12 col-md-6">
      <nb-icon icon="calendar-outline" pack="eva"></nb-icon
      >{{ orden.fecha | date: 'dd/MM/yyyy' }}
    </div>
  </div>
  <div class="row ml-1 mr-1">
    <div class="col-xs-12 col-lg-12 col-md-12">
      <nb-icon icon="person-outline" pack="eva"></nb-icon>
      {{ orden.cliente.get('nombre') }}
    </div>
  </div>
  <div class="row ml-1 mr-1">
    <div class="col-xs-12 col-lg-12 col-md-12">
      <nb-icon icon="phone-outline" pack="eva"></nb-icon>
      {{ orden.cliente.get('telefono') }}
    </div>
  </div>
  <div class="row ml-1 mr-1">
    <div class="col-xs-12 col-lg-12 col-md-12">
      <nb-icon icon="brush-outline" pack="eva"></nb-icon>
      {{ orden.rodado }}
    </div>
  </div>
  <div class="row ml-1 mr-1 mt-2">
    <ul>
      <li *ngFor="let rep of orden.reparaciones">
        {{ rep.get('nombre') }}
      </li>
    </ul>
  </div>
  <div class="row ml-1 mr-1 mt-1">
    <div class="col-xs-12 col-lg-12 col-md-6">
      <nb-icon icon="paper-plane-outline" pack="eva"></nb-icon>
      {{ orden.fechaEntrega | date: 'dd/MM/yyyy' }}
    </div>
    <div class="col-xs-12 col-lg-12 col-md-6">
      <ngx-orden-status [status]="orden.estado"></ngx-orden-status>
    </div>
  </div>

  <nb-card-footer>
    <nb-icon nbTooltip="Ver detalle" icon="printer-outline" pack="eva" (click)="openDetalle()"></nb-icon>
    <nb-icon nbTooltip="Actualizar estado" icon="edit-outline" pack="eva" (click)="openEstadoModal()"></nb-icon>
  </nb-card-footer>
</nb-card>
