<nb-layout windowMode>
  <nb-layout-column>
    <div class="row">
      <div class="col-lg-4 offset-lg-4">
        <nb-card>
          <nb-card-header>Login</nb-card-header>
          <nb-card-body>

            <div class="row mt-2 mb-2">
              <h2 class="mx-auto font-weight-light">Roda<span class="text-primary font-weight-bold">Stock</span></h2>
            </div>
            <form [formGroup]="loginForm">

              <div class="row">
                <mat-form-field class="mx-auto">
                  <mat-label>Email</mat-label>
                  <input
                    formControlName="email"
                    type="email"
                    matInput
                    autocomplete="off"
                    maxLength="50"
                  />
                  <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
                    Ingresa un email
                  </mat-error>
                  <mat-error *ngIf="loginForm.get('email')?.hasError('pattern')">
                    Por favor ingrese un email válido.
                  </mat-error>
                  <!-- <mat-hint>hint</mat-hint> -->
                </mat-form-field>
              </div>

              <div class="row">
              <mat-form-field class="mx-auto">
                <mat-label>Password</mat-label>
                <input formControlName="password" type="password" matInput autocomplete="off" />
                <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                  Ingresa un password
                </mat-error>
                <!-- <mat-hint>hint</mat-hint> -->
              </mat-form-field>
            </div>

              <div class="row" >
              <button
                class="mx-auto"
                (click)="login()"
                [disabled]="!loginForm.valid"
                nbButton
                matRipple
                maxLength="50"
                status="primary"
              >
                Login
              </button>
            </div>
            </form>

            <div class="row mt-4">
              <p class="text-hint mx-auto">¿Sos cliente y no tenes cuenta?</p>
            </div>

            <div class="row mt-2">
              <button
                [routerLink]="['/auth/register']"
                class="mx-auto"
                nbButton
                matRipple
                ghost
                status="primary"
              >Registrarse</button>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
