<nb-card>
  <nb-card-header>Pedidos</nb-card-header>

  <nb-card-body>
    <div class="row">
      <div class="col col-md-2 col-lg-2">
        <button
          nbButton
          matRipple
          hero
          status="primary"
          class="mb-3"
          (click)="nuevaOrden()"
        >
          Nuevo Pedido
        </button>
      </div>

      <div class="col col-md-10 col-lg-10">
        <nb-icon icon="search-outline" pack="eva" class="mr-4"></nb-icon>
        <mat-form-field floatLabel="never">
          <input
            matInput
            [formControl]="searchFormControl"
            placeholder="Buscar"
            autocomplete="off"
          />
        </mat-form-field>
        <nb-icon
          style="cursor: pointer"
          (click)="clearSearch()"
          icon="close-outline"
          pack="eva"
          class="ml-4"
        ></nb-icon>
      </div>
    </div>

    <nb-tabset fullWidth class="w-100">
      <nb-tab
        [tabTitle]="'Todos: ' + ordenes.length + ' (' + ordenesTotal + ')'"
        class="w-100"
      >
        <div class="row ml-2">
          <div class="col-xs-12 col-md-5 col-lg-5">
            <nb-icon
              icon="funnel-outline"
              pack="eva"
              class="mr-4 mt-2"
              style="font-size: 2rem"
            ></nb-icon>
            <mat-form-field appearance="fill">
              <mat-label>Estado</mat-label>
              <mat-select [formControl]="estadoFormControl">
                <mat-option value="Todos"> Todos </mat-option>
                <mat-option value="Pendiente"> Pendiente </mat-option>
                <mat-option value="En Curso"> En Curso </mat-option>
                <mat-option value="Terminado"> Terminado </mat-option>
                <mat-option value="Entregado"> Entregado </mat-option>
                <mat-option value="Cancelado"> Cancelado </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-xs-12 col-md-5 col-lg-5">
            <form [formGroup]="dateForm">
              <mat-form-field appearance="fill" class="example-form-field">
                <mat-label>Ingrese el rango de fechas</mat-label>
                <mat-date-range-input [rangePicker]="rangePicker">
                  <input
                    matStartDate
                    formControlName="desde"
                    placeholder="Desde"
                  />
                  <input
                    matEndDate
                    formControlName="hasta"
                    placeholder="Hasta"
                  />
                </mat-date-range-input>
                <mat-datepicker-toggle
                  matSuffix
                  [for]="rangePicker"
                ></mat-datepicker-toggle>
                <mat-date-range-picker #rangePicker>
                  <mat-date-range-picker-actions>
                    <button mat-button matDateRangePickerCancel>
                      Cancelar
                    </button>
                    <button
                      mat-raised-button
                      color="primary"
                      matDateRangePickerApply
                    >
                      Aceptar
                    </button>
                  </mat-date-range-picker-actions>
                </mat-date-range-picker>
              </mat-form-field>
              <nb-icon
                style="cursor: pointer"
                (click)="clearDateSearch()"
                icon="close-outline"
                pack="eva"
                class="ml-4"
              ></nb-icon>
            </form>
          </div>
          <div class="col-xs-12 col-md-2 col-lg-2">
            <mat-button-toggle-group [(ngModel)]="isLista">
              <mat-button-toggle [value]="true"> Lista </mat-button-toggle>
              <mat-button-toggle [value]="false"> Card </mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>

        <div class="row">
          <ng-container *ngIf="!isLista">
            <div
              *ngFor="let orden of ordenes"
              class="col-md-4 col-12 col-xs-12 col-lg-3"
            >
              <ngx-orden-card
                [orden]="orden"
                (estadoChanged)="cargarOrdenes()"
              ></ngx-orden-card>
            </div>
          </ng-container>

          <ng2-smart-table
            *ngIf="isLista"
            class="custom-table"
            [settings]="settings"
            [source]="sourceLista"
            (edit)="openEstadoModal($event)"
          ></ng2-smart-table>
        </div>
      </nb-tab>

      <nb-tab
        [tabTitle]="'Entrega Hoy: ' + ordenesEntrega.length"
        class="w-100"
      >
        <div class="row">
          <div
            *ngFor="let orden of ordenesEntrega"
            class="col-md-4 col-12 col-xs-12 col-lg-3"
          >
            <ngx-orden-card
              [orden]="orden"
              (estadoChanged)="cargarOrdenes()"
            ></ngx-orden-card>
          </div>
          <h4 class="mt-4 mx-auto" *ngIf="ordenesEntrega.length === 0">
            No hay pedidos para entregar hoy!
          </h4>
        </div>
      </nb-tab>
      <nb-tab
        [tabTitle]="'Atrasados: ' + ordenesAtrasados.length"
        class="w-100"
      >
        <div class="row">
          <div
            *ngFor="let orden of ordenesAtrasados"
            class="col-md-4 col-12 col-xs-12 col-lg-3"
          >
            <ngx-orden-card
              [orden]="orden"
              (estadoChanged)="cargarOrdenes()"
            ></ngx-orden-card>
          </div>
          <h4 class="mt-4 mx-auto" *ngIf="ordenesAtrasados.length === 0">
            No hay pedidos atrasados!
          </h4>
        </div>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
