<nb-card class="main">
  <nb-card-header
    >{{ modoEdicion ? 'Editar' : 'Nuevo' }} Tipo de Reparacion</nb-card-header
  >
  <nb-card-body class="m-2">
    <form [formGroup]="nuevoForm">
      <h5 class="text-hint mb-5">Ingrese la información referida a la reparacion</h5>

      <!-- NOMBRE -->
      <div class="row m-3">
        <mat-form-field class="mx-auto w-100">
          <mat-label>Nombre</mat-label>
          <input
            formControlName="nombre"
            matInput
            autocomplete="off"
            maxlength="30"
          />
          <mat-error *ngIf="nuevoForm.get('nombre')?.hasError('required')">
            Este campo es requerido
          </mat-error>
        </mat-form-field>
      </div>

      <!-- DESCRIPCION -->
      <div class="row m-3 w-100">
        <p>Descripcion</p>
        <ngx-tiny-mce (editorKeyup)="updateDescripcion($event)" initialContent="{{content}}"></ngx-tiny-mce>
      </div>

      <!-- TIEMPO ESTIMADO  -->
      <div class="row m-3 mt-5 w-100">
        <p class="mr-3 mt-3">Tiempo estimado del trabajo a realizar</p>
        <div class="row">
          <div class="col-6 col-md-4">
            <mat-form-field class="mx-auto w-100">
              <mat-label>horas/dias</mat-label>
              <mat-select formControlName="tiempoEstimadoMedida">
                <mat-option value="horas">Horas</mat-option>
                <mat-option value="dias">Dias</mat-option>
              </mat-select>
              <mat-hint>Cantidad de horas/dias estimada</mat-hint>
            </mat-form-field>
          </div>

          <div class="col-6 col-md-4">
            <mat-form-field class="mx-auto w-100">
              <input
                formControlName="tiempoEstimadoUnidad"
                matInput
                autocomplete="off"
                maxLength="1"
                currency-mask
              />
              <mat-error
                *ngIf="
                  nuevoForm.get('tiempoEstimadoUnidad').hasError('pattern')
                "
              >
                Solo se permiten numeros
              </mat-error>
              <mat-hint>Cantidad de horas/dias estimada</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- COSTO MANO DE OBRA -->
      <div class="row m-3 mt-5">
        <div class="pl-0 col-6 col-md-4 col-lg-3">
          <mat-form-field class="mx-auto w-100">
            <mat-label>Costo de mano de obra</mat-label>
            <input
              formControlName="costoMano"
              type="text"
              matInput
              autocomplete="off"
              maxLength="10"
              currency-mask
            />
            <mat-error *ngIf="nuevoForm.get('costoMano').hasError('required')">
              Este campo es requerido
            </mat-error>
            <mat-hint>Solo se permiten numeros</mat-hint>
          </mat-form-field>
        </div>
      </div>

      <!-- UNIDADES NECESARIOS -->
      <div class="row m-3 w-100">
        <h5 class="text-hint mt-5">Agregue las unidades necesarias para llevar a cabo esta reparacion</h5>

        <div class="col-md-12">
          <button
            nbButton
            matRipple
            hero
            status="primary"
            (click)="nuevoRepuesto()"
            class="mb-2"
          >
            Nueva Unidad
          </button>
        </div>
        <div class="col-md-12">
          <ng2-smart-table
            class="custom-table"
            [settings]="settings"
            [source]="source"
            (deleteConfirm)="onDeleteConfirm($event)"
          >
          </ng2-smart-table>
        </div>
      </div>

      <div class="row m-3">
        <p>Costo total de unidades requeridas: $ {{ costoTotalRepuestos }}</p>
      </div>


    </form>
  </nb-card-body>
  <nb-card-footer>
    <div class="row">
      <div class="col">
        <button nbButton matRipple ghost status="primary" (click)="goBack()">
          Volver a Reparaciones
        </button>
      </div>
      <div class="col">
        <button
          [disabled]="!modoEdicion && (!nuevoForm.valid || nuevoForm.pristine)"
          nbButton
          matRipple
          hero
          status="primary"
          (click)="confirm()"
          class="float-right"
        >
          {{ modoEdicion ? 'Editar' : 'Crear' }}
        </button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
