<nb-layout windowMode>
  <nb-layout-column>
    <div class="row">
      <div class="col-lg-4 offset-lg-4">
        <nb-card>
          <nb-card-header>Registrarse</nb-card-header>
          <nb-card-body>
            <div class="row mt-2 mb-2">
              <h2 class="mx-auto font-weight-light">
                Roda<span class="text-primary font-weight-bold">Stock</span>
              </h2>
            </div>
            <form [formGroup]="registroForm">
              <div class="row w-100">
                <mat-form-field class="mx-auto">
                  <mat-label>Email</mat-label>
                  <input
                    formControlName="email"
                    type="email"
                    matInput
                    autocomplete="off"
                  />
                  <mat-hint
                    >Ingresa el mismo email con el que registraron tu primer
                    pedido</mat-hint
                  >
                  <mat-error
                    *ngIf="registroForm.get('email')?.hasError('required')"
                  >
                    Ingresa un email
                  </mat-error>
                  <mat-error
                    *ngIf="registroForm.get('email')?.hasError('pattern')"
                  >
                    Por favor ingrese un email válido.
                  </mat-error>
                  <!-- <mat-hint>hint</mat-hint> -->
                </mat-form-field>
              </div>

              <div class="row mt-3 w-100">
                <mat-form-field class="mx-auto">
                  <mat-label>Password</mat-label>
                  <input
                    formControlName="password"
                    type="password"
                    matInput
                    autocomplete="off"
                  />
                  <mat-error
                    *ngIf="registroForm.get('password')?.hasError('required')"
                  >
                    Ingresa un password
                  </mat-error>
                  <mat-hint
                    >Ingrese un password de minimo 8 caracteres y maximo
                    30</mat-hint
                  >
                </mat-form-field>
              </div>

              <div class="row mt-5">
                <div class="mx-auto">
                  <mat-checkbox
                    formControlName="acepto"
                    color="primary"
                  ></mat-checkbox>
                  <label class="ml-2"
                    >Acepto los
                    <span
                      (click)="mostrarTyC()"
                      class="text-primary"
                      style="cursor: pointer"
                      >Terminos y condiciones
                    </span></label
                  >
                </div>
              </div>

              <div class="row mt-5">
                <button
                  class="mx-auto"
                  (click)="register()"
                  [disabled]="
                    !registroForm.valid || !registroForm.get('acepto').value
                  "
                  nbButton
                  matRipple
                  status="primary"
                >
                  Registrarse
                </button>
              </div>

              <div class="row mt-1">
                <button
                  class="mx-auto"
                  (click)="goBack()"
                  ghost
                  nbButton
                  matRipple
                  status="primary"
                >
                  Volver
                </button>
              </div>
            </form>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-lg-4">
        <nb-actions size="medium" class="float-right">
          <nb-action
            class="control-item"
            icon="question-mark-circle-outline"
            matRipple
            [matRippleUnbounded]="true"
            [matRippleCentered]="true"
            (click)="faq()"
          ></nb-action>
        </nb-actions>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
