<nb-card status="primary" class="estado-card">
  <nb-card-header
    >Calificar el Pedido N {{ orden.get('numero') }}</nb-card-header
  >
  <nb-card-body class="m-2">
    <form [formGroup]="nuevoForm" *ngIf="modoEdicion">
      <p class="dialog-hint">
        Por favor dejanos una puntuacion y un comentario sobre el servicio
        recibido!
      </p>
      <div class="row m-3">
        <div class="col-md-6 col-lg-6 col-xs-12 mb-4">
          <h6>Tiempo de entrega</h6>
          <mat-star-rating
            class="m-2"
            [rating]="puntuacionTiempoEntrega"
            (ratingUpdated)="onRatingChanged($event, 'tiempoEntrega')"
          ></mat-star-rating>
        </div>

        <div class="col-md-6 col-lg-6 col-xs-12 mb-4">
          <h6>Calidad del trabajo</h6>
          <mat-star-rating
            class="m-2"
            [rating]="puntuacionCalidadTrabajo"
            (ratingUpdated)="onRatingChanged($event, 'calidadTrabajo')"
          ></mat-star-rating>
        </div>

        <div class="col-md-6 col-lg-6 col-xs-12 mb-4">
          <h6>Atencion</h6>
          <mat-star-rating
            class="m-2"
            [rating]="puntuacionAtencion"
            (ratingUpdated)="onRatingChanged($event, 'atencion')"
          ></mat-star-rating>
        </div>

        <div class="col-md-6 col-lg-6 col-xs-12 mb-4">
          <h6>Precio</h6>
          <mat-star-rating
            class="m-2"
            [rating]="puntuacionPrecio"
            (ratingUpdated)="onRatingChanged($event, 'precio')"
          ></mat-star-rating>
        </div>

        <mat-form-field class="w-100 mt-3">
          <mat-label>Comentario</mat-label>
          <textarea
            row="5"
            formControlName="comentario"
            matInput
            autocomplete="off"
            maxlength="200"
          ></textarea>
          <mat-error *ngIf="nuevoForm.get('comentario')?.hasError('pattern')">
            Por favor ingrese una observacion valida
          </mat-error>
          <mat-hint>Solo se permiten letras y números</mat-hint>
        </mat-form-field>
      </div>
    </form>

    <div class="row m-3" *ngIf="!modoEdicion" style="max-width: 800px;">
      <div class="col-12 col-md-12 col-lg-12 mt-2">
        <nb-icon icon="brush-outline" pack="eva"></nb-icon>
        <span>{{ orden.get('rodado') }}</span>
        <nb-icon class="ml-4" icon="person-outline" pack="eva"></nb-icon>
        <span>{{ orden.get('cliente').get('nombre') }}</span>
      </div>
      <div class="col-md-12 col-lg-12 col-xs-12 mb-5 mt-4">
        <div class="row">
          <div class="col-md-6 col-lg-6 col-xs-12 mb-4">
            <h6>Tiempo de entrega</h6>
            <mat-star-rating
              [readonly]="true"
              [rating]="calificacion.get('tiempoEntrega')"
            ></mat-star-rating>
          </div>

          <div class="col-md-6 col-lg-6 col-xs-12 mb-4">
            <h6>Calidad del trabajo</h6>
            <mat-star-rating
              [readonly]="true"
              [rating]="calificacion.get('calidadTrabajo')"
            ></mat-star-rating>
          </div>

          <div class="col-md-6 col-lg-6 col-xs-12 mb-4">
            <h6>Atencion</h6>
            <mat-star-rating
              [readonly]="true"
              [rating]="calificacion.get('atencion')"
            ></mat-star-rating>
          </div>

          <div class="col-md-6 col-lg-6 col-xs-12 mb-4">
            <h6>Precio</h6>
            <mat-star-rating
              [readonly]="true"
              [rating]="calificacion.get('precio')"
            ></mat-star-rating>
          </div>
        </div>
      </div>
      <div class="font-weight-bold col-12 col-md-12 col-lg-12 mt-2">
        "{{ calificacion.get('comentario') }}"
      </div>
      <div class="hint-text col-12 col-md-12 col-lg-12 mt-4">
        <nb-icon icon="calendar-outline" pack="eva"></nb-icon
        >{{ calificacion.get('createdAt') | date: 'dd/MM/yyyy' }}
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="row">
      <div class="col">
        <button nbButton matRipple ghost status="primary" (click)="dismiss()">
          Cerrar
        </button>
      </div>
      <div class="col">
        <button
          *ngIf="modoEdicion"
          [disabled]="loading || !nuevoForm.valid || nuevoForm.pristine"
          nbButton
          matRipple
          hero
          status="primary"
          (click)="onConfirm()"
          class="float-right"
        >
          Calificar
        </button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
