<nb-card status="primary" class="nueva-card">
  <nb-card-header>Historial de movimientos de stock</nb-card-header>
  <nb-card-body class="m-2" *ngIf="repuesto">
    <div class="row mb-3">
      <button nbButton matRipple (click)="onEdit()" status="primary">
        Editar
      </button>
    </div>
    <p><b>Nombre: </b>{{ repuesto.get('nombre') }}</p>
    <p><b>Stock Actual: </b>{{ repuesto.get('stock') }}</p>
    <p><b>Costo: </b>{{ repuesto.get('costo') | currency }}</p>

    <h6>Ingresos</h6>
    <ng2-smart-table
      class="custom-table"
      [settings]="settings"
      [source]="sourceIngreso"
      (edit)="onEditIngresos($event)"
    >
    </ng2-smart-table>

    <h6 class="mt-3">Egresos</h6>
    <ng2-smart-table
      class="custom-table"
      [settings]="settings"
      [source]="sourceEgreso"
      (edit)="onEditEgresos($event)"
    >
    </ng2-smart-table>

    <ngx-detalle-repuesto-chart
      *ngIf="ingresosChart.length"
      [ingresos]="ingresosChart"
    >
    </ngx-detalle-repuesto-chart>

    <ngx-detalle-repuesto-bar
      *ngIf="ingresosChart.length"
      [ingresos]="ingresosChart"
    >
    </ngx-detalle-repuesto-bar>
  </nb-card-body>
  <nb-card-footer>
    <div class="row">
      <div class="col">
        <button nbButton matRipple ghost status="primary" (click)="goBack()">
          Volver
        </button>
      </div>
      <div class="col">
        <button
          nbButton
          matRipple
          hero
          status="primary"
          (click)="print()"
          class="float-right"
        >
          <nb-icon icon="printer-outline" pack="eva"></nb-icon
          ><span class="ml-1">Imprimir</span>
        </button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
