<nb-card status="primary" class="nueva-card">
  <nb-card-header>Nuevo Repuesto</nb-card-header>
  <nb-card-body class="m-2">
    <form [formGroup]="nuevoForm">
      <p class="dialog-hint">Ingrese la información referida al repuesto que desea registrar</p>
      <div class="row m-3">
        <mat-form-field class="mx-auto w-100">
          <mat-label>Nombre</mat-label>
          <input
            formControlName="nombre"
            matInput
            autocomplete="off"
            maxlength="30"
          />
          <mat-error *ngIf="nuevoForm.get('nombre')?.hasError('pattern')">
            Por favor ingrese un nombre válido.
          </mat-error>
          <mat-error *ngIf="nuevoForm.get('nombre')?.hasError('required')">
            Este campo es requerido
          </mat-error>
          <mat-hint>Solo se permiten letras</mat-hint>
        </mat-form-field>
      </div>

      <div class="row m-3">
        <mat-form-field class="mx-auto w-100">
          <mat-label>Costo $</mat-label>
          <input
            formControlName="costo"
            matInput
            type="number"
            matInput
            autocomplete="off"
            max="99999"
            min="1"
            currency-mask
          />
          <mat-error *ngIf="nuevoForm.get('costo').hasError('required')">
            Este campo es requerido
          </mat-error>
          <mat-hint>Solo se permiten numeros de 0 a 99999</mat-hint>
        </mat-form-field>
      </div>

      <div class="row m-3" *ngIf="!modoEdicion">
        <mat-form-field class="mx-auto w-100">
          <mat-label>Stock</mat-label>
          <input
            formControlName="stock"
            type="number"
            matInput
            autocomplete="off"
            step="1"
            (change)="onStockChange($event)"
            max="999"
            min="1"
          />
          <mat-error *ngIf="nuevoForm.get('stock')?.hasError('required')">
            Este campo es requerido
          </mat-error>
          <mat-hint>Solo se permiten numeros de 0 a 999</mat-hint>
        </mat-form-field>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <div class="row">
      <div class="col">
        <button nbButton matRipple ghost status="primary" (click)="dismiss()">
          Cancelar
        </button>
      </div>
      <div class="col">
        <button
          [disabled]="loading || !nuevoForm.valid || nuevoForm.pristine"
          nbButton
          matRipple
          hero
          status="primary"
          (click)="confirm()"
          class="float-right"
        >
          Crear
        </button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
