<div class="row">
  <div class="col-12 col-md-12 col-lg-12 col-xs-12">
    <nb-card>
      <nb-card-header>Repuestos mas utilizados</nb-card-header>
      <nb-card-body>
        <form [formGroup]="dateForm">
          <mat-form-field appearance="fill" class="example-form-field">
            <mat-label>Ingrese el rango de fechas</mat-label>
            <mat-date-range-input [rangePicker]="rangePicker">
              <input matStartDate formControlName="desde" placeholder="Desde" />
              <input matEndDate formControlName="hasta" placeholder="Hasta" />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="rangePicker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #rangePicker>
              <mat-date-range-picker-actions>
                <button mat-button matDateRangePickerCancel>Cancelar</button>
                <button
                  mat-raised-button
                  color="primary"
                  matDateRangePickerApply
                >
                  Aceptar
                </button>
              </mat-date-range-picker-actions>
            </mat-date-range-picker>
          </mat-form-field>
          <nb-icon
            style="cursor: pointer"
            (click)="clearSearch()"
            icon="close-outline"
            pack="eva"
            class="ml-4"
          ></nb-icon>
        </form>

        <ng-container *ngIf="!loading">
          <ngx-repuestos-mas-utilizados-pie
            *ngIf="data.length; else noResult"
            [data]="data"
          ></ngx-repuestos-mas-utilizados-pie>

          <h6 class="mt-3 mb-3">Listado de Repuestos</h6>
          <ng2-smart-table
            class="custom-table"
            [settings]="settings"
            [source]="sourceRepuesto"
            (edit)="onEditIngresos($event)"
          >
          </ng2-smart-table>
        </ng-container>
      </nb-card-body>

      <nb-card-footer>
        <div class="row">
          <div class="col">
            <button
              nbButton
              matRipple
              hero
              status="primary"
              (click)="print()"
              class="float-right"
            >
              <nb-icon icon="printer-outline" pack="eva"></nb-icon
              ><span class="ml-1">Imprimir</span>
            </button>
          </div>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
<ng-template #noResult>
  <h5>No se encontraron datos para el rango de fecha seleccionado</h5>
</ng-template>
