<nb-card>
  <nb-card-header>Listado de Reparaciones disponibles</nb-card-header>

  <nb-card-body>
    <button
      nbButton
      matRipple
      hero
      status="primary"
      (click)="nuevoTipoReparacion()"
      class="mb-3"
    >
      Nuevo Tipo de Reparacion
    </button>
    <ng2-smart-table
      class="custom-table"
      [settings]="settings"
      [source]="source"
      (edit)="onEdit($event)"
      (deleteConfirm)="onDeleteConfirm($event)"
    >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
