<!-- <nb-card status="primary" class="nueva-card">
  <nb-card-header>Detalles del Repuesto</nb-card-header>
  <nb-card-body class="m-2">
    <p><b>Nombre: </b>{{ data.nombre }}</p>
    <p><b>Cantidad: </b>{{ data.nombre }}</p>
    <p><b>Costo: </b>{{ data.nombre | currency }}</p>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listaIngresos">
          <th scope="row">1</th>
          <td>{{ }}</td>
          <td>Otto</td>a
          <td>@mdo</td>
        </tr>

      </tbody>
    </table>


  </nb-card-body>
  <nb-card-footer>
    <div class="row">
      <div class="col">
        <button nbButton matRipple ghost status="primary" (click)="dismiss()">
          Cerrar
        </button>
      </div>
    </div>
  </nb-card-footer>
</nb-card> -->
