<nb-card status="primary" class="nueva-card">
  <nb-card-header>Nuevo Repuesto</nb-card-header>
  <nb-card-body class="m-2">
    <form [formGroup]="nuevoForm">
      <div class="row m-3">
        <mat-form-field appearance="fill">
          <mat-label>Repuesto</mat-label>
          <mat-select formControlName="repuesto">
            <mat-option
              *ngFor="let repuesto of repuestoOptions"
              [value]="repuesto.id"
            >
              {{ repuesto.get('nombre') + " - $" + repuesto.get('costo')}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row m-3">
        <mat-form-field class="mx-auto w-100">
          <mat-label>Cantidad</mat-label>
          <input
            formControlName="cantidad"
            type="number"
            matInput
            autocomplete="off"
            max="999"
            min="0"
          />
          <mat-error *ngIf="nuevoForm.get('cantidad')?.hasError('required')">
            Este campo es requerido
          </mat-error>
          <mat-hint>Solo se permiten números</mat-hint>
        </mat-form-field>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <div class="row">
      <div class="col">
        <button nbButton matRipple ghost status="primary" (click)="dismiss()">
          Cancelar
        </button>
      </div>
      <div class="col">
        <button
          [disabled]="!nuevoForm.valid || nuevoForm.pristine"
          nbButton
          matRipple
          hero
          status="primary"
          (click)="confirm()"
          class="float-right"
        >
          Agregar
        </button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
