<nb-card>
  <nb-card-header> Clientes Morosos </nb-card-header>

  <nb-card-body>
    <h5>Listado de clientes que aun tienen pedidos por retirar y saldar</h5>
    <ng2-smart-table
      class="custom-table"
      [settings]="settings"
      [source]="source"
      (edit)="onEdit($event)"
    >
    </ng2-smart-table>
  </nb-card-body>

  <nb-card-footer>
    <div class="row">
      <div class="col">
        <button
          nbButton
          matRipple
          hero
          status="primary"
          (click)="print()"
          class="float-right"
        >
          <nb-icon icon="printer-outline" pack="eva"></nb-icon
          ><span class="ml-1">Imprimir</span>
        </button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
