<nb-card>
  <nb-card-header> Inventario de Repuestos </nb-card-header>

  <nb-card-body>
    <button nbButton matRipple hero status="primary" (click)="onCreate()" class="mb-3">
      Nuevo Repuesto
    </button>
    <ng2-smart-table
      class="custom-table"
      [settings]="settings"
      [source]="source"
      (edit)="onEdit($event)"
      (delete)="onDelete($event)"
    >
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<!-- (userRowSelect)="onUserRowSelect($event)" -->
<!-- (createConfirm)="onCreateConfirm($event)"
      (editConfirm)="onEditConfirm($event)"
      (deleteConfirm)="onDeleteConfirm($event)" -->
